[run]
source = gcp_vm_inventory
omit = 
    */tests/*
    */streamlit_app.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
